/* Attributi generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    font-size: large;
}

body {
    font-family: Sora, Arial, Helvetica, sans-serif;
}

/* Attributi Intestazione */

h1 {
    color:#e53170;
    text-align: center;
    margin-top: 20px;
    font-family: Fredoka One, Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
}Li

/* Attributi immagini */

/* Contenitore principale immagini */

.gruppo-uno {
    content: '';
    display: table;
    clear: both;
}

.clearfix {
    clear: both;
    content: '';
    display: table;
}

/* Contenitori immagini */


.etichetta {
    width:calc(100% / 3);
    float: left;
}

/* Attributi classi etichette */

.description {
    background-color: black;
    float: left;
    width: 280px;
    
    
}

.image {
    float: left;
    width: 100px;
    height: 100px;

}

.name {
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 5px;
}

.job {
    font-weight: 100;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 5px;
   
}

.email {
    color: #0264b4;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 5px;

}

hr {
    width: 300px;
    height: 50px;
    color: white;
    border: none;
}