/* Attributi generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    font-size: large;
}

body {
    font-family: Sora, Arial, Helvetica, sans-serif;
}

/* Attributi Intestazione */

h1 {
    color:#e53170;
    text-align: center;
    margin-top: 20px;
    font-family: Fredoka One, Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
}Li

/* Attributi immagini */

/* Contenitore principale immagini */

.gruppo-uno {
    content: '';
    display: table;
    clear: both;
}

.etichetta-uno {
    clear: left;
}

.etichetta-tre {
    clear: right;
}

/* Contenitori immagini */


.etichetta-uno-etichetta-due.etichetta-tre {
    content: '';
    display: table;
    clear: both;

}

/* Attributi classi etichette */

.description {
    background-color: black;
    float: left;
    
    
}

.image {
    float: left;
    width: 100px;
    height: 100px;

}

.name {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.job {
    font-weight: 100;
    color: rgb(255, 255, 255);
}

.email {
    color: #0264b4;
    font-weight: bold;

}