/* Attributi generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    font-size: large;
}

body {
    font-family: Sora, Arial, Helvetica, sans-serif;
}

/* Attributi Intestazione */

h1 {
    color:#e53170;
    text-align: center;
    margin-top: 20px;
    font-family: Fredoka One, Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
}Li

/* Attributi immagini */

/* Contenitori immagini */


.line-one.line-two {
    content: '';
    display: table;
    clear: both;
    height: 100px;
    
}

/* Attributi classi etichette */

.description {
    background-color: black;
    float: left;
    
    
}

.image {
    float: left;

}

.name {
    font-weight: bold;
    color: white;
}

.job {
    font-weight: 100;
    color: white;
}

.email {
    color: aqua;

}